<app-form-proveedor></app-form-proveedor>
<app-item-gasto [gastoRecibir]="gastoEnviar"></app-item-gasto>
<div class="row mt-5">
    <div class="col-6">
        <div class="card border-primary">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="Buscar proveedor" aria-label="Proveedores" matInput [formControl]="autocompleteControlProveedor" [matAutocomplete]="autoc">

                            <mat-autocomplete #autoc="matAutocomplete" [displayWith]="mostrardatosProveedor" (optionSelected)="seleccionarProveedor($event)">
                                <mat-option *ngFor="let proveedor of proveedoresFiltrados | async" [value]="proveedor">
                                    <p class="h6 font-italic">{{proveedor.nombreCompleto}}</p>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">
                                <button type="button" class="btn" data-toggle="tooltip" data-placement="left"
                                    title="Registar proveedor" (click)="abrirModalProveedor()"><i
                                        class="fas fa-plus-circle"></i> <i class="fas fa-user"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <form #gastoForm="ngForm">
                    <input type="hidden" readonly name="id" [(ngModel)]="proveedorNew.id">
                    <div class="form-group">
                        <label for="nombre" *ngIf="proveedorNew.nombreCompleto=='';else elseBlock">Proveedor: <span class="text-danger">SIN PROVEEDOR</span></label>
                        <ng-template #elseBlock> <label for="nombre">Proveedor: <span class="text-info">{{proveedorNew.nombreCompleto}} </span></label> </ng-template>
                        <input type="hidden" class="form-control" readonly name="nombre" [(ngModel)]="proveedorNew.nombreCompleto">
                    </div>
                    <hr>
                    <div class="form-group" *ngIf="gastoForm.form.value.nombre!=''">
                        <label for="noFactura">No. de factura</label>
                        <input type="text" class="form form-control form-control-sm" [(ngModel)]="gasto.noFactura" name="noFactura" pattern="[0-9a-zA-Z ]*" #nFac="ngModel" [ngClass]="{ 'is-invalid': nFac.invalid,'is-valid': nFac.valid}">
                        <div *ngIf="nFac.invalid && (nFac.dirty || nFac.touched)" class="invalid-feedback ">
                            <div *ngIf="nFac.errors.pattern">Ingrese un numero valido</div>
                        </div>
                    </div>


                    <table class="table table-striped table-hover table-sm" *ngIf="gasto.items.length > 0">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Descripcion</th>
                                <th>Precio U.</th>
                                <th>Sub total.</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of gasto.items">
                                <td class="font-italic h6">{{item.cantidad}}</td>
                                <td class="font-italic h6">{{item.descripcion}}</td>
                                <td class="font-italic h6">{{item.precioUnitario |currency:"GTQ":"symbol"}}</td>
                                <td class="font-italic h6">{{item.precioUnitario * item.cantidad |currency:"GTQ":"symbol" }}</td>
                                <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarItemGasto(item)">x</button></td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-info" type="button" id="button-addon1" (click)="abrirModalItemGasto()"><i
                                    class="fas fa-plus-circle"></i> Agregar Item</button>
                            </div>
                            <input type="text" class="form-control" placeholder="Agregue el detalle de cada compra o gasto" aria-label="Example text with button addon" aria-describedby="button-addon1" readonly>
                        </div>
                    </div>

                    <div class="form-group  row">
                        <div class="col-7">
                            <h5 class="float-right form-group" *ngIf="gasto.items.length > 0">Total: <span class="badge badge-info">{{calcularGranTotal() |currency:"GTQ":"symbol"}}</span></h5>
                        </div>
                        <div class="col">
                            <button type="submit" (click)="store(gastoForm)" class="btn btn-outline-info" [disabled]="gasto.items.length==0 || loading">
                                <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                                <span *ngIf="!loading">  Registrar gasto</span>
                                <span *ngIf="loading"> Registrando......</span>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="example-container mat-elevation-z8 table-responsive-sm">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="Id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header># </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="NoFactura">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>No. Factura</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.noFactura==null; else elseBlock" class="text-danger font-weight-bold">S/F</span>
                        <ng-template #elseBlock> {{row.noFactura}}</ng-template>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Proveedor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <span *ngIf="row.proveedor==null; else elseBlock" class="text-danger font-weight-bold">S/P</span>
                        <ng-template #elseBlock> {{row.proveedor.nombreCompleto}}</ng-template>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="Hora">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Hora </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.hora}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="TGasto">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>T. Gasto</mat-header-cell>
                    <mat-cell *matCellDef="let row" class="fonw font-weight-bold"> {{row.total |currency:"GTQ":"symbol"}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef class="font-weight-bold text-primary">{{totalGasto |currency:"GTQ":"symbol"}}</mat-footer-cell>
                </ng-container>

                <ng-container matColumnDef="Acciones">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                            <mat-button-toggle value="bold" (click)="abrirModalDetalle(row)" data-toggle="tooltip" data-placement="left" title="Detalle gasto"> <i class="fas fa-info-circle text-info"></i> </mat-button-toggle>
                        </mat-button-toggle-group>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

        </div>
    </div>

</div>



<div class="abrir-modal  fadeIn" *ngIf="itemGastoService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"><i class="fas fa-list-ol"></i> Agregar item gasto</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalItemGasto()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form #itemForm="ngForm" (ngSubmit)="agregarItems(itemForm)">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="text" class="form-control form-control-sm" name="cantidad" [(ngModel)]="itemGasto.cantidad" #cant="ngModel" required pattern="[0-9]*" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                            <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                                <div *ngIf="cant.errors.required">campo obligatorio</div>
                                <div *ngIf="cant.errors.pattern">Ingrese un numero valido</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripcion:</label>
                            <textarea type="text" class="form-control form-control-sm" cols="20" rows="3" name="descripcion" [(ngModel)]="itemGasto.descripcion" #desc="ngModel" required maxlength="60" pattern="[ A-Za-z0-9,äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ-]+" [ngClass]="{ 'is-invalid': desc.invalid,'is-valid': desc.valid}"> 
                            </textarea>
                            <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="invalid-feedback ">
                                <div *ngIf="desc.errors.required">campo obligatorio</div>
                                <div *ngIf="desc.errors.pattern">Ingrese un caracteres validos</div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="precioU">Precio unitario:</label>
                            <input type="text" class="form-control form-control-sm" name="precioU" [(ngModel)]="itemGasto.precioUnitario" #preU="ngModel" required pattern="^[0-9]+([.][0-9]+)?$" [ngClass]="{ 'is-invalid': preU.invalid,'is-valid': preU.valid}">
                            <div *ngIf="preU.invalid && (preU.dirty || preU.touched)" class="invalid-feedback ">
                                <div *ngIf="preU.errors.required">campo obligatorio</div>
                                <div *ngIf="preU.errors.pattern">Ingrese un numero valido</div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModalItemGasto()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" type="submit" [disabled]="!itemForm.form.valid">Agregar item</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>