<main role="main">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">Registro pago de cuotas</h3>
        <a class=" nav-link float-right" routerLink="/pagos/historial-pago"> <i class="fas fa-coins"></i> Historial pago de cuotas</a>
        <div class="btn-toolbar mb-2 mb-md-0 float-right">
            <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-outline-danger mr-2 btn-sm" (click)="updateEstadoPago()" [disabled]="loading"><i class="fas fa-sync-alt"></i> 
                <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                                <span *ngIf="!loading"> Resetear</span>
                                <span *ngIf="loading"> Reseteando......</span>
            </button>
            <select class="btn btn-sm btn-outline-info mr-2" #tp>
                <option [ngValue]="undefined">---Seleccionar Tipo cuota-----</option>
                <option *ngFor="let tipoCuota of tipoCuotas" [ngValue]="tipoCuota">{{tipoCuota.tipoCuota}}</option>
              </select>
            <button class="btn btn-outline-info btn-sm" (click)="mostrarFaltantes(tp.value)"> <i class="far fa-eye"></i> Faltantes</button>
        </div>
    </div>
</main>

<div class="row animated fadeIn">
    <div class="col-6">
        <div class="card border-primary" *ngIf="loginService.hasRole('ROLE_ADMIN')">
            <div class="card-header">

            </div>

            <div class="card-body">
                <form #facturaForm="ngForm">

                    <div class="form-group row">
                        <div class="col">
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="Buscar usuario de proyecto" aria-label="Productos" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">

                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre" (optionSelected)="seleccionarProducto($event)">
                                    <mat-option *ngFor="let cuota of cuotasFiltrados | async" [value]="cuota">
                                        <p class="h6 font-italic">{{cuota.socio.codigo}} -- {{cuota.socio.nombre}} {{cuota.socio.apellido}}, <span class="text-primary">--{{cuota.tipoCuota.tipoCuota}}</span> </p>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div class="alert alert-danger" *ngIf="autocompleteControl.invalid && facturaForm.submitted">
                                La factura no tiene productos!.
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info my-4" *ngIf="pagosArray.length == 0">
                        No hay usuarios agregados. Debe agregar al menos uno!
                    </div>

                    <table class="table table-striped table-hover table-sm" *ngIf="pagosArray.length > 0">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Restante</th>
                                <th>Cuota</th>
                                <th>Tipo Cuota</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of pagosArray">
                                <td class="font-italic h6">{{item.cuota.socio.codigo}}</td>
                                <td class="h6">{{item.cuota.socio.nombre}}</td>
                                <td>{{item.cuota.socio.apellido}}</td>
                                <td class="text-danger">{{item.cuota.restante |currency:"GTQ":"symbol"}}</td>
                                <td style="width:10px"><input type="text" class="form-control form-control-sm" value="0" (change)="actualizarCuota(item.cuota.id,$event)">
                                </td>
                                <td>{{item.cuota.tipoCuota.tipoCuota}}</td>
                                <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarItem(item.cuota.id)">x</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group  row">
                        <div class="col-7">
                            <h5 class="float-right form-group" *ngIf="pagosArray.length > 0">Total: <span class="text-primary">{{calcularGranTotal() |currency:"GTQ":"symbol"}}</span></h5>
                        </div>
                        <div class="col">
                            <button type="submit" (click)="create(facturaForm)" class="btn btn-outline-info" [disabled]="loading">
                                <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                                <span *ngIf="!loading"> Registrar pagos</span>
                                <span *ngIf="loading"> Registrando......</span>
                                </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="col">
        <app-list-pago></app-list-pago>
    </div>
</div>


<!--*****************************Modal mostrar socios con cotas pendientes-->

<div class="abrir-modal  fadeIn" *ngIf="cuotaService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"><i class="fas fa-list-ol"></i> Socios pendientes de pago: {{cuotasPendientes.length}}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalCuotas()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">

                    <table class="table table-dark table-sm table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Cuota</th>
                                <th scope="col">T-Pagado</th>
                                <th scope="col">Restante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cuota of cuotasPendientes">
                                <th scope="row">{{cuota.socio.codigo}}</th>
                                <td>{{cuota.socio.nombre}}</td>
                                <td>{{cuota.socio.apellido}}</td>
                                <td>{{cuota.socio.telefono}}</td>
                                <td>{{cuota.cantidad |currency:"GTQ":"symbol"}}</td>
                                <td>{{cuota.totalPagado |currency:"GTQ":"symbol"}}</td>
                                <td>{{cuota.restante |currency:"GTQ":"symbol"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModalCuotas()">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>