<div class="example-container mat-elevation-z8 table-responsive-sm">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cuota.socio.codigo}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cuota.socio.nombre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Apellido">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cuota.socio.apellido}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
            <mat-cell *matCellDef="let row"><span class="text-primary font-weight-bold">{{row.cantidad |currency:"GTQ":"symbol"}}</span> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Hora">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Hora </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.hora}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div>