<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Fecha</th>
            <th scope="col">Fecha última lectura</th>
            <th scope="col">Saldo anterior</th>
            <th scope="col">Total recaudo</th>
            <th scope="col">Total gasto</th>
            <th scope="col">Saldo en caja</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let informe of informeSaldos">
            <th scope="row">{{informe.id}}</th>
            <td>{{informe.fecha}}</td>
            <td>{{informe.fechaLectura |date:'EEEE dd, MMMM yyyy'}}</td>
            <td>{{informe.saldoAnterior |currency:"GTQ":"symbol"}}</td>
            <td>{{informe.totalRecaudo |currency:"GTQ":"symbol"}}</td>
            <td>{{informe.totalGasto |currency:"GTQ":"symbol"}}</td>
            <td>{{informe.saldoEnCaja |currency:"GTQ":"symbol"}}</td>
        </tr>
    </tbody>
</table>