<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Registro de socios</a></li>
    </ol>
</nav>
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-5">

        <form (ngSubmit)="store(socioForm)" #socioForm="ngForm" novalidate="">
            <div class="form-group">
                <label for="codigo">Número/Código</label>
                <input type="text" class="form-control" name="codigo" [(ngModel)]="socio.codigo" #cod="ngModel" required pattern="[0-9 ]*" [ngClass]="{ 'is-invalid': cod.invalid,'is-valid': cod.valid}">
                <div *ngIf="cod.invalid && (cod.dirty || cod.touched)" class="invalid-feedback ">
                    <div *ngIf="cod.errors.required">Código es obligatorio</div>
                    <div *ngIf="cod.errors?.pattern">únicamente valores numéricos, sin espacios</div>
                </div>
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="socio.nombre" #nom="ngModel" maxlength="30" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+" [ngClass]="{ 'is-invalid': nom.invalid,'is-valid': nom.valid}">
                <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="invalid-feedback ">
                    <div *ngIf="nom.errors.required">Nombre es obligatorio</div>
                    <div *ngIf="nom.errors.pattern">Ingrese un nombre valido</div>
                </div>
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" name="apellido" [(ngModel)]="socio.apellido" #ape="ngModel" maxlength="30" required pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+" [ngClass]="{ 'is-invalid': ape.invalid,'is-valid': ape.valid}">
                <div *ngIf="ape.invalid && (ape.dirty || ape.touched)" class="invalid-feedback ">
                    <div *ngIf="ape.errors.required">Apellido es obligatorio</div>
                    <div *ngIf="ape.errors.pattern">Ingrese un apellido valido</div>
                </div>
            </div>

            <div class="form-group">
                <label for="telefono1">No. celular</label>
                <input type="text" class="form-control" name="telefono" [(ngModel)]="socio.telefono" #tel1="ngModel" pattern="[0-9 ]*" maxlength="9" minlength="8" required [ngClass]="{ 'is-invalid': tel1.invalid,'is-valid': tel1.valid}">
                <div *ngIf="tel1.invalid && (tel1.dirty || tel1.touched)" class="invalid-feedback ">
                    <div *ngIf="tel1.errors.required">El número de celular es obligatorio </div>
                    <div *ngIf="tel1.errors.minlength">El número de celular debe de tener 8 digitos</div>
                    <div *ngIf="tel1.errors.pattern">Ingrese solo números</div>
                </div>
            </div>

            <div class="form-group">
                <label for="sector">Sector:</label>
                <div class="input-group mb-3">
                    <select [compareWith]="compararSector" class="form-control form-control-sm" [(ngModel)]="socio.sector" name="sector" #sec="ngModel" required [ngClass]="{ 'is-invalid': sec.invalid,'is-valid': sec.valid}">
                  <option [ngValue]="undefined">---Seleccionar sector-----</option>
                  <option *ngFor="let sector of sectors" [ngValue]="sector">{{sector.sector}}</option>
                </select>
                </div>
                <div *ngIf="sec.invalid && (sec.dirty || sec.touched)" class="invalid-feedback ">
                    <div *ngIf="sec.errors.required">Seleccione un sector</div>
                </div>

            </div>

            <div class="form-group">
                <label class="col-2 col-form-label">Sexo</label>
                <div class="custom-control custom-radio" *ngFor="let s of sexos; let i=index">
                    <input type="radio" id="customRadio{{i}}" name="sexo" class="custom-control-input" [(ngModel)]="socio.sexo" #sex="ngModel" [value]="s" required [ngClass]="{ 'is-invalid': sex.invalid,'is-valid': sex.valid}">
                    <label class="custom-control-label" for="customRadio{{i}}">{{s}}</label>
                    <div *ngIf="sex.invalid && (sex.dirty || sex.touched)" class="invalid-feedback ">
                        <div *ngIf="sex.errors.required">Sexo es obligatorio</div>

                    </div>
                </div>
            </div>
            <button class="btn btn-outline-success" type="submit" [disabled]="!socioForm.valid || loading" *ngIf="!socio.id else elseBlock">
                <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                <span *ngIf="!loading"> Registrar socio</span>
                <span *ngIf="loading"> Registrando......</span>
            </button>
            <ng-template #elseBlock>
                <button class="btn btn-outline-success" type="button" (click)="update()" [disabled]="!socioForm.valid || loading">
                    <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                    <span *ngIf="!loading"> Actutalizar datos socio</span>
                    <span *ngIf="loading"> Actualizando......</span>
                </button>
            </ng-template>
        </form>

    </div>
    <div class="col"></div>
</div>