<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ProyectoDrenaje</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="loginService.isAuthenticated()">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/socio"><i class="far fa-user" ></i> Socio</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/cuota"> <i class="fas fa-list-ol"></i> Cuotas</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/pago"><i class="fas fa-coins"></i> Pagos</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/gasto"><i class="fas fa-chart-line"></i> Gastos</a>
            </li>

            <li class="nav-item" routerLinkActive="active" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                <a class="nav-link" routerLink="/usuario">Usuario</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mas opciones...
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/tipo-cuota">Tipo Cuota</a>
                    <a class="dropdown-item" routerLink="/informe-saldo">Informe Saldo</a>

                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">

            <li class="dropdown mr-3">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{loginService.usuario.username}}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <button (click)="logout()" type="submit" name="button" class="dropdown-item"> <i class="fas fa-sign-out-alt"></i> Salir</button>
                    <div class="dropdown-divider"></div>
                    <a name="button" class="dropdown-item" [routerLink]="['/usuario/update-user/',loginService.usuario.username]"> <i class="fas fa-cog"></i> Configurar</a>
                </div>
            </li>
        </ul>
    </div>
</nav>