<main role="main">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">Listado de socios con cuotas Pendientes </h3>
    </div>

    <div class="example-header mat-elevation-z8">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese nombre u apellido para filtrar" />
        </mat-form-field>
    </div>

    <div class="card mt-4 border border-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-6 pt-2">

                </div>
                <div class="col 6 pt-2">
                    <div class="btn-toolbar mb-2 mb-md-0 float-right">

                        <select class="btn btn-sm btn-outline-info mr-2" (change)="findAllByTipoCuota($event.target.value)" required #tp>
                                <option [ngValue]="undefined">---Seleccionar Tipo cuota-----</option>
                                <option *ngFor="let tipoCuota of tipoCuotas" [ngValue]="tipoCuota">{{tipoCuota.tipoCuota}}</option>
                              </select>
                        <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-outline-danger mr-2 btn-sm" (click)="generarPDFRestante()"> <i class="fas fa-file-pdf"></i> Restante</button>
                        <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-outline-danger btn-sm" (click)="generarPDFCompleto(tp.value)"> <i class="fas fa-file-pdf"></i> Completo</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="example-container mat-elevation-z8 table-responsive-sm">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Código </mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.socio.codigo}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Nombre">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.socio.nombre}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Apellido">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.socio.apellido}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Cantidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cuota</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.cantidad |currency:"GTQ":"symbol"}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="NoPagos">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>No. cuotas</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.noPagos}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="TotalPagado">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>T-Pagado</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="text-primary font-weight-bold">{{row.totalPagado |currency:"GTQ":"symbol"}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Restante">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Restante</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="text-danger font-weight-bold">{{row.restante |currency:"GTQ":"symbol"}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="TipoCuota">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cuota para</mat-header-cell>
                        <mat-cell *matCellDef="let row">{{row.tipoCuota.tipoCuota}}</mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>


        </div>

    </div>
</main>