<div class="abrir-modal  fadeIn" *ngIf="proveedorService.modal">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable  border border-dark" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title">Formulario registro proveedor</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form #proveedorForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombreCompleto">Nombre Completo:</label>
                            <input type="text" class="form-control form-control-sm" name="nombreCompleto" [(ngModel)]="proveedor.nombreCompleto" #pro="ngModel" maxlength="30" required pattern="[ A-Za-z0-9äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ]+" [ngClass]="{ 'is-invalid': pro.invalid,'is-valid': pro.valid}">
                            <div *ngIf="pro.invalid && (pro.dirty || pro.touched)" class="invalid-feedback ">
                                <div *ngIf="pro.errors.required">Nombre es obligatorio</div>
                                <div *ngIf="pro.errors.pattern">Ingrese un nombre valido</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripcion:</label>
                            <input type="text" class="form-control form-control-sm" name="descripcion" [(ngModel)]="proveedor.descripcion" #desc="ngModel" maxlength="60" required pattern="[ A-Za-z0-9äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ]+" [ngClass]="{ 'is-invalid': desc.invalid,'is-valid': desc.valid}">
                            <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="invalid-feedback ">
                                <div *ngIf="desc.errors.required">Descripcion es obligatorio</div>
                                <div *ngIf="desc.errors.pattern">Ingrese una descripcion valida</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="direccion">Dirección:</label>
                            <input type="text" class="form-control form-control-sm" name="direccion" [(ngModel)]="proveedor.direccion" #dir="ngModel" maxlength="60" pattern="[ A-Za-z0-9äÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+" [ngClass]="{ 'is-invalid': dir.invalid,'is-valid': dir.valid}">
                            <div *ngIf="dir.invalid && (dir.dirty || dir.touched)" class="invalid-feedback ">
                                <div *ngIf="desc.errors.pattern">Ingrese una dirección valida</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono:</label>
                            <input type="text" class="form-control form-control-sm" name="telefono" [(ngModel)]="proveedor.telefono" #tel="ngModel" maxlength="9" minlength="8" pattern="[0-9 ]*" [ngClass]="{ 'is-invalid': tel.invalid,'is-valid': tel.valid}">
                            <div *ngIf="tel.invalid && (tel.dirty || tel.touched)" class="invalid-feedback ">
                                <div *ngIf="tel.errors.minlength">Debe de tener 8 digitos</div>
                                <div *ngIf="tel.errors.pattern">Ingrese un numero de telefono valido</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" (click)='store()' [disabled]="!proveedorForm.form.valid || loading">
                            <i [ngClass]="{'fa-sync fa-spin':loading}" class="fas"></i>
                            <span *ngIf="!loading"> Registrar proveedor</span>
                            <span *ngIf="loading"> Registrando......</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>