<main role="main animated fadeIn">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">Historial pago de cuotas, de Usuarios</h3>
        <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-outline-danger btn-sm float-right" (click)="generarPDF()"> <i class="fas fa-file-pdf"></i> Reporte</button>
        <form>
            <input type="date" name="fecha1" required #f1="">
            <input type="date" name="fecha2" required #f2>
            <select class="btn btn-sm btn-outline-info mr-2" #tp required>
                <option [ngValue]="undefined">---Seleccionar Tipo cuota-----</option>
                <option *ngFor="let tipoCuota of tipoCuotas" [ngValue]="tipoCuota">{{tipoCuota.tipoCuota}}</option>
              </select>
            <button class="btn btn-outline-success btn-sm" role="button" (click)='consultarPagosRangoFechas(f1.value,f2.value,tp.value)'>
         <i class="fas fa-search"></i> buscar </button>
        </form>
    </div>

    <div class="card border-primary mb-3">
        <div class="card-header">
            <mat-form-field>
                <mat-label>Buscar por: </mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nombre o apellido">
            </mat-form-field>
        </div>
        <div class="card-body">
            <div class="example-container mat-elevation-z8 table-responsive-sm">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cuota.socio.codigo}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Nombre">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cuota.socio.nombre}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef><span class="font-weight-bold">Total cobro</span></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Apellido">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cuota.socio.apellido}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Cantidad">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
                        <mat-cell *matCellDef="let row"><span class="text-primary font-weight-bold">{{row.cantidad |currency:"GTQ":"symbol"}}</span> </mat-cell>
                        <mat-footer-cell *matFooterCellDef><span class="text-info font-weight-bold">{{totalPago |currency:"GTQ":"symbol"}}</span> </mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Fecha">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fecha |date:"EEEE dd, MMMM yyyy"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Hora">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Hora </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.hora}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="TipoCuota">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo cuota </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cuota.tipoCuota.tipoCuota}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

            </div>
        </div>
    </div>
</main>