<div class="row">
    <div class="col"></div>
    <div class="col-5">
        <div class="card mt-5">
            <div class="card-header text-info">
                Asignar nueva cuota para todos los socios
            </div>
            <div class="card-body">

                <form (ngSubmit)="store(cuotaForm)" #cuotaForm="ngForm" novalidate="">
                    <div class="form-group">
                        <label for="categoria">Tipo cuota:</label>
                        <div class="input-group mb-3">
                            <select [compareWith]="compararTipoCuota" class="form-control " [(ngModel)]="cuota.tipoCuota" name="tipoCuota" required #tipoC="ngModel" [ngClass]="{ 'is-invalid': tipoC.invalid,'is-valid': tipoC.valid}">
                          <option [ngValue]="undefined">---Seleccionar tipo Cuota-----</option>
                          <option *ngFor="let tipoCuota of tipoCuotas" [ngValue]="tipoCuota">{{tipoCuota.tipoCuota}}</option>
                        </select>
                        </div>
                        <div *ngIf="tipoC.invalid && (tipoC.dirty || tipoC.touched)" class="invalid-feedback ">
                            <div *ngIf="tipoC.errors.required">Seleccione un tipo de cuota </div>
                        </div>
                    </div>

                    <button class="btn btn-outline-success" type="submit" [disabled]="!cuotaForm.valid || loading ">
                        <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                        <span *ngIf="!loading"> Asignar cuotas a todos los usuarios</span>
                        <span *ngIf="loading"> Registrando......</span>
                    </button>
                </form>


            </div>
        </div>
    </div>
    <div class="col"> </div>
</div>