<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Registro de tipo cuota</a></li>
    </ol>
</nav>
<div class="row mt-5">
    <div class="col"></div>
    <div class="col-5">
        <form #categoriaForm="ngForm" (ngSubmit)="store()">

            <div class="form-group">
                <label for="tipoCuota">Tipo Cuota:</label>
                <input type="text" class="form-control form-control-sm" name="tipoCuota" [(ngModel)]="tipoCuota.tipoCuota" #tipoC="ngModel" required maxlength="30" [ngClass]="{ 'is-invalid': tipoC.invalid,'is-valid': tipoC.valid}">
                <div *ngIf="tipoC.invalid && (tipoC.dirty || tipoC.touched)" class="invalid-feedback ">
                    <div *ngIf="tipoC.errors.required">campo obligatorio</div>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion:</label>
                <input type="text" class="form-control form-control-sm" name="descripcion" [(ngModel)]="tipoCuota.descripcion" #desc="ngModel" required maxlength="60" [ngClass]="{ 'is-invalid': desc.invalid,'is-valid': desc.valid}">
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="invalid-feedback ">
                    <div *ngIf="desc.errors.required">campo obligatorio</div>
                </div>
            </div>

            <div class="form-group">
                <label for="noPagos">No. pagos</label>
                <input type="number" class="form-control" name="noPagos" [(ngModel)]="tipoCuota.noPagos" #cant="ngModel" required min="0" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                    <div *ngIf="cant.errors.required">Cantidad es obligatorio</div>
                    <div *ngIf="cant.errors?.pattern">únicamente valores numéricos, sin espacios</div>
                </div>
            </div>

            <table class="table table-striped table-hover table-sm" *ngIf="tipoCuota.items.length > 0">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tipoCuota.items">
                        <td class="font-italic h6">{{item.cantidad}}</td>
                        <td class="h6">{{item.fechaPago | date:"EEEE dd, MMMM yyyy"}}</td>
                        <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarItemFecha(item.fechaPago)">x</button></td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="categoriaForm.value.noPagos>0 ">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-info" type="button" id="button-addon1" (click)="abrirModalFechas()"><i
                            class="fas fa-plus-circle"></i> Agregar</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Agregue las fechas de pago" aria-label="Example text with button addon" aria-describedby="button-addon1" readonly>
                </div>
            </div>

            <button class="btn btn-outline-success" type="submit" [disabled]="!categoriaForm.valid || loading || this.tipoCuota.items.length<categoriaForm.value.noPagos">
                <i [ngClass]="{'fa-save':!loading, 'fa-sync fa-spin':loading}" class="fas"></i>
                <span *ngIf="!loading"> Registrar Tipo Cuenta</span>
                <span *ngIf="loading"> Registrando......</span>
            </button>
        </form>
    </div>
    <div class="col"></div>
</div>


<div class="abrir-modal  fadeIn" *ngIf="fechaPagosService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"><i class="fas fa-list-ol"></i> Registrar fechas pago</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalFechas()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form #categoriaForm="ngForm" (ngSubmit)="agregarFechas()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cantidadFecha">Cantidad:</label>
                            <input type="text" class="form-control form-control-sm" name="cantidadFecha" [(ngModel)]="fechaPagos.cantidad" #cantFecha="ngModel" required pattern="[0-9.]*" [ngClass]="{ 'is-invalid': cantFecha.invalid,'is-valid': cantFecha.valid}">
                            <div *ngIf="cantFecha.invalid && (cantFecha.dirty || cantFecha.touched)" class="invalid-feedback ">
                                <div *ngIf="tipoC.errors.required">campo obligatorio</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fechaPago">Fecha:</label>
                            <input type="date" class="form-control form-control-sm" name="fechaPago" [(ngModel)]="fechaPagos.fechaPago" #fech="ngModel" required maxlength="60" [ngClass]="{ 'is-invalid': fech.invalid,'is-valid': fech.valid}">
                            <div *ngIf="fech.invalid && (fech.dirty || fech.touched)" class="invalid-feedback ">
                                <div *ngIf="fech.errors.required">campo obligatorio</div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModalFechas()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" type="submit" [disabled]="!categoriaForm.form.valid">Agregar fecha</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>