<app-item-gasto [gastoRecibir]="gastoEnviar"></app-item-gasto>
<main role="main animated fadeIn">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">Historial Gastos por rango de fecha</h3>
        <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-outline-danger btn-sm float-right" (click)="generarPDF()"> <i class="fas fa-file-pdf"></i> Reporte</button>
        <form>
            <input type="date" name="fecha1" required #f1="">
            <input type="date" name="fecha2" required #f2>
            <button class="btn btn-outline-success btn-sm" role="button" (click)='consultarGastosRangoFechas(f1.value,f2.value)'>
         <i class="fas fa-search"></i> buscar </button>
        </form>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="btn-toolbar mb-2 mb-md-3 float-right">
            <h4 class="mr-5 ml-5 text-primary"><i class="fas fa-coins"></i> Recaudo {{helper.totalRecaudo |currency:"GTQ":"symbol"}}</h4>
            <h4 class="mr-5 text-info"><i class="fas fa-chart-line"></i> Gastos {{helper.totalGasto |currency:"GTQ":"symbol"}}</h4>
            <h4 class="text-success"><i class="fas fa-piggy-bank"></i> Disponible {{helper.totalDisponible |currency:"GTQ":"symbol"}}</h4>
            <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="ml-5 btn btn-outline-info" (click)="compactarReporte()">Compactar en reporte</button>
        </div>

    </div>

    <div class="card border-primary mb-3">
        <div class="card-header">
            <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-outline-primary btn-sm float-right" routerLink="/gasto-form">Registrar gastos</button>
        </div>
        <div class="card-body">
            <div class="example-container mat-elevation-z8 table-responsive-sm">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header># </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="NoFactura">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>No. Factura</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.noFactura==null; else elseBlock" class="text-danger font-weight-bold">S/F</span>
                            <ng-template #elseBlock> {{row.noFactura}}</ng-template>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Proveedor">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Proveedor</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.proveedor==null; else elseBlock" class="text-danger font-weight-bold">S/P</span>
                            <ng-template #elseBlock> {{row.proveedor.nombreCompleto}}</ng-template>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Fecha">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fecha }} </mat-cell>
                        <mat-footer-cell *matFooterCellDef><span class="font-weight-bold">Total gastos</span></mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="Hora">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Hora </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.hora}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="TGasto">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>T. Gasto</mat-header-cell>
                        <mat-cell *matCellDef="let row" class="fonw font-weight-bold"> {{row.total |currency:"GTQ":"symbol"}} </mat-cell>
                        <mat-footer-cell *matFooterCellDef class="font-weight-bold text-primary">{{totalGasto |currency:"GTQ":"symbol"}}</mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                <mat-button-toggle value="bold" (click)="abrirModalDetalle(row)" data-toggle="tooltip" data-placement="left" title="Detalle gasto"> <i class="fas fa-info-circle text-info"></i> </mat-button-toggle>
                            </mat-button-toggle-group>
                        </mat-cell>
                        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>

            </div>
        </div>
    </div>
</main>