<div class="abrir-modal  fadeIn" *ngIf="itemGastoService.modalDetalle">
    <div class="modal " tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog modal-dialog-scrollable  border border-dark modal-xl" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Detalle Gasto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><span class="font-weight-bold">Fecha: </span> {{gastoRecibir.fecha}}</p>
                    <div *ngIf="gastoRecibir.proveedor==null">
                        <p><span class="font-weight-bold">Proveedor: </span> Sin datos del proveedor</p>
                    </div>
                    <div *ngIf="gastoRecibir.proveedor!=null">
                        <p><span class="font-weight-bold">No.factura: </span> {{gastoRecibir.noFactura}}</p>
                        <p><span class="font-weight-bold">Proveedor: </span> {{gastoRecibir.proveedor.nombreCompleto}}</p>
                        <p><span class="font-weight-bold">Telefono: </span> <span *ngIf="gastoRecibir.proveedor.telefono==null; else elseBlock">S/T</span>
                            <ng-template #elseBlock>{{gastoRecibir.proveedor.telefono}} </ng-template>
                        </p>
                        <p><span class="font-weight-bold">Direccion: </span> {{gastoRecibir.proveedor.direccion}}</p>
                    </div>

                    <table class="table  table-sm table-striped">
                        <caption class="text-primary"><span class="font-weight-bold">Total gasto: </span> {{gastoRecibir.total |currency:"GTQ":"symbol"}}</caption>
                        <thead class="table-dark">
                            <tr>

                                <th scope="col">Cant.</th>
                                <th scope="col">Descripcion</th>
                                <th scope="col">Precio U.</th>
                                <th scope="col">SubTotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let items of gastoRecibir.items">
                                <td>{{items.cantidad}}</td>
                                <td>{{items.descripcion}}</td>
                                <td>{{items.precioUnitario |currency:"GTQ":"symbol"}}</td>
                                <td>{{items.subTotalCompra |currency:"GTQ":"symbol"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModal()">Cerrar</button>
                </div>


            </div>
        </div>
    </div>
</div>