<main role="main">
    <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;" class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h5">Listado general de Usuarios</h3>
        <button class="btn btn-outline-danger" (click)="generarpdf()" *ngIf="loginService.hasRole('ROLE_ADMIN')"><i class="fas fa-file-pdf"></i> Reporte</button>
    </div>

    <div class="example-header mat-elevation-z8">

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese código para filtrar" />
        </mat-form-field>
    </div>

    <div class="card mt-4 border border-primary">
        <div class="card-header">
            <div class="row">
                <div class="col-3">

                    <select class="form-control form-control-sm float-right" (change)="findAllByGenero($event.target.value)">
                        <option [ngValue]="undefined">---Seleccionar genero-----</option>
                        <option value="Hombre"> Hombre</option>
                        <option value="Mujer">Mujer</option>
                      </select>
                </div>
                <div class="col-3">
                    <select class="form-control form-control-sm float-right" (change)="findAllBySector($event.target.value)" required>
                        <option [ngValue]="undefined">---Seleccionar sector-----</option>
                        <option *ngFor="let sector of sectors" [ngValue]="sector">{{sector.sector}}</option>
                      </select>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success btn-sm" role="button" (click)='consultarGeneroSector()' [disabled]="generoIsValid==false || sectorIsValid==false">
                        <i class="fas fa-search"></i> buscar </button>
                </div>
                <div class="col" *ngIf="loginService.hasRole('ROLE_ADMIN')">
                    <button class="btn btn-outline-primary float-right" routerLink="/form-socio">Registrar nuevo</button>
                </div>
            </div>
        </div>
        <div class="card-body">

            <div class="example-container mat-elevation-z8 table-responsive-sm">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Codigo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Código </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.codigo==null else elseBlock">S/C</span>
                            <ng-template #elseBlock> {{row.codigo}}</ng-template>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Nombre">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Apellido">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.apellido}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Celular">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>No. celular</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.telefono==null else elseBlock">00000000</span>
                            <ng-template #elseBlock> {{row.telefono}}</ng-template>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Sector">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Sector</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.sector==null else elseBlock">0</span>
                            <ng-template #elseBlock> {{row.sector.sector}}</ng-template>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Sexo">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Género</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span *ngIf="row.sexo=='Hombre' else elseBlock">H</span>
                            <ng-template #elseBlock> M</ng-template>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Registro">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>F. Registro</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/M/yyyy'}} {{row.fecha }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">

                                <mat-button-toggle *ngIf="loginService.hasRole('ROLE_ADMIN')" value="bold" data-toggle="tooltip" data-placement="left" title="Editar socio" [routerLink]="['/socio/form',row.id]">Editar</mat-button-toggle>
                                <mat-button-toggle *ngIf="row.fecha ==fechaActual && loginService.hasRole('ROLE_ADMIN')" value="bold" data-toggle="tooltip" data-placement="left" title="Asignar cuota al socio" (click)="modalAsignarCuota(row)">Asignar Cuota</mat-button-toggle>


                            </mat-button-toggle-group>

                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
            </div>


        </div>

    </div>
</main>


<!--************************Modal para asignar cuotas -->

<div class="abrir-modal  fadeIn" *ngIf="cuotaService.modal">
    <div class="modal" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h6 class="modal-title"><i class="fas fa-list-ol"></i> Asignar cuota al cliente {{socio.nombre}} {{socio.apellido}}</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModalCuota()">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <form #cuotaForm="ngForm" (ngSubmit)="asignarCuota()">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="text" class="form-control form-control-sm" name="cantidad" [(ngModel)]="cuota.cantidad" #cant="ngModel" required pattern="^[0-9]+([.][0-9]+)?$" [ngClass]="{ 'is-invalid': cant.invalid,'is-valid': cant.valid}">
                            <div *ngIf="cant.invalid && (cant.dirty || cant.touched)" class="invalid-feedback ">
                                <div *ngIf="cant.errors.required">campo obligatorio</div>
                                <div *ngIf="cant.errors.pattern">Ingrese una cantidad valida</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="categoria">Tipo cuota:</label>
                            <div class="input-group mb-3">
                                <select class="form-control " [(ngModel)]="cuota.tipoCuota" name="tipoCuota" required #tipoC="ngModel" [ngClass]="{ 'is-invalid': tipoC.invalid,'is-valid': tipoC.valid}">
                              <option [ngValue]="undefined">---Seleccionar tipo Cuota-----</option>
                              <option *ngFor="let tipoCuota of tipoCuotas" [ngValue]="tipoCuota">{{tipoCuota.tipoCuota}}</option>
                            </select>
                            </div>
                            <div *ngIf="tipoC.invalid && (tipoC.dirty || tipoC.touched)" class="invalid-feedback ">
                                <div *ngIf="tipoC.errors.required">Seleccione un tipo de cuota </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrarModalCuota()">Cancelar</button>
                        <button class="btn btn-success btn-block" role="button" type="submit" [disabled]="!cuotaForm.form.valid">Asignar cuota</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>