<div class="card mt-5">
    <div class="card-header">
        Tipo Cuota
        <button *ngIf="loginService.hasRole('ROLE_ADMIN')" class="btn btn-outline-primary float-right" routerLink="/form-tipo-cuota">Crear nuevo tipo cuota</button>
    </div>
    <div class="card-body">
        <h5 class="card-title">En Desarrollo</h5>

    </div>
</div>